<!-- src/app/home-page/home-page.component.html -->

<div class="home-page">
  
  <!--
  <div class="clock">
    {{ currentTime }}
  </div>
  -->

  <div class="heading">
    YANNICK
  </div>
  <img src="/images/me.jpg" alt="Yannick Zalokar" class="main-image"/>
</div>

<div class="banner">
  <div class="banner-track">  
    <div class="banner-segment">
      !yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!

    </div>
    <div class="banner-segment" aria-hidden="true">
      !yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!yzdigital!
    </div>
  </div>
</div>

