<!-- src/app/home-page/home-page.component.html -->

<div class="home-page">
  <a href="https://www.linkedin.com/in/yannick-zalokar-71063a1b5/" target="_blank" class="corner-link top-left">LINKEDIN</a>
  <a href="https://www.instagram.com/yourparentsloveyannick/" target="_blank" class="corner-link top-right">INSTAGRAM</a>

  <div class="heading">
    YANNICK
  </div>
  <img src="/images/me.jpg" alt="Yannick Zalokar" class="main-image"/>

  <div class="clock">
    {{ currentTime }}
  </div>
</div>

<div class="banner">
  <div class="banner-track">
    <div class="banner-segment">
      !yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!
    </div>
    <div class="banner-segment" aria-hidden="true">
      !yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!!yzdigital!
    </div>
  </div>
  
</div>

